Tracker/Web References/Service/AdminFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://flytrace.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://flytrace.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://flytrace.com/">
      <s:element name="GetAdminStat">
        <s:complexType />
      </s:element>
      <s:element name="GetAdminStatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAdminStatResult" type="tns:AdminStat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdminStat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AttemptsOrder" type="tns:ArrayOfAttemptStat" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfAdminMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CoordAccessCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentRevision" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAttemptStat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AttemptStat" type="tns:AttemptStat" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttemptStat">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FeedKind" type="tns:FeedKind" />
          <s:element minOccurs="1" maxOccurs="1" name="SuccTime" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FeedKind">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Feed_1_0" />
          <s:enumeration value="Feed_1_0_undoc" />
          <s:enumeration value="Feed_2_0" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAdminMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdminMessage" type="tns:AdminMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdminMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdminStat" type="tns:AdminStat" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdminStatSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminStat" />
  </wsdl:message>
  <wsdl:message name="GetAdminStatSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminStatResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdminStatHttpGetIn" />
  <wsdl:message name="GetAdminStatHttpGetOut">
    <wsdl:part name="Body" element="tns:AdminStat" />
  </wsdl:message>
  <wsdl:message name="GetAdminStatHttpPostIn" />
  <wsdl:message name="GetAdminStatHttpPostOut">
    <wsdl:part name="Body" element="tns:AdminStat" />
  </wsdl:message>
  <wsdl:portType name="AdminFacadeSoap">
    <wsdl:operation name="GetAdminStat">
      <wsdl:input message="tns:GetAdminStatSoapIn" />
      <wsdl:output message="tns:GetAdminStatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdminFacadeHttpGet">
    <wsdl:operation name="GetAdminStat">
      <wsdl:input message="tns:GetAdminStatHttpGetIn" />
      <wsdl:output message="tns:GetAdminStatHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdminFacadeHttpPost">
    <wsdl:operation name="GetAdminStat">
      <wsdl:input message="tns:GetAdminStatHttpPostIn" />
      <wsdl:output message="tns:GetAdminStatHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminFacadeSoap" type="tns:AdminFacadeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminStat">
      <soap:operation soapAction="http://flytrace.com/GetAdminStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminFacadeSoap12" type="tns:AdminFacadeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminStat">
      <soap12:operation soapAction="http://flytrace.com/GetAdminStat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminFacadeHttpGet" type="tns:AdminFacadeHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAdminStat">
      <http:operation location="/GetAdminStat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminFacadeHttpPost" type="tns:AdminFacadeHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAdminStat">
      <http:operation location="/GetAdminStat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminFacade">
    <wsdl:port name="AdminFacadeSoap" binding="tns:AdminFacadeSoap">
      <soap:address location="http://localhost/Tracker/Service/Administration/AdminFacade.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminFacadeSoap12" binding="tns:AdminFacadeSoap12">
      <soap12:address location="http://localhost/Tracker/Service/Administration/AdminFacade.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminFacadeHttpGet" binding="tns:AdminFacadeHttpGet">
      <http:address location="http://localhost/Tracker/Service/Administration/AdminFacade.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminFacadeHttpPost" binding="tns:AdminFacadeHttpPost">
      <http:address location="http://localhost/Tracker/Service/Administration/AdminFacade.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>